*{
    margin: 0;
    padding: 0;
}

#container{
    background: rgb(27, 24, 24);
    width: 100%;
    position: relative;
    
    
}


/* header */

.header{
    color:white;
    background: black;
    border: 1px solid silver;
    border-radius: 5px;
    box-shadow: 0 0 10px lime;
    height: 40px;
    
    width: 100%;
    position: relative;
    text-align: center;
    top:50px;
}

.header_p{
    float: left;
    width: 60%;
    font-size: 20px;
    text-align: center;
    margin-top: 8px;
    color: rgb(86, 255, 8);
}

.header_logo{
    height: 100%;
    width: 40px;
    float: right;
    background: lime;
    margin-right: 30px;
    
}

.header_span{
    border-radius: 10px;
    padding: 1px;
    background: rgb(5, 160, 38);
    margin-left: 10px;
    box-shadow: 0 0 10px white;
    border: 1px solid black;
}

/* header */


/*wrapper */

.wrapper{
    width: 50%;
    margin: 0 auto;
    min-height: 200px;
    margin-top: 80px;
    position: relative;

}

.wrapper-divs{
    width: 100%;
    margin-top: 20px;
    height: 200px;
    box-shadow: 0 0 10px lime;
    border:1px solid black;
    position: relative;
    
}

.wrapper_divs_img{
    height: 190px;
    width: 30%;
    float: left;
}

.wrapper_divs_details{
    height: 170px;
    width:100%;
    
    color: white;
    
}


.sales_buy{
    width: 100%;
    padding: 5px 0;
    border-radius: 5px;
    background: rgb(23, 192, 37);
    border:0px;
    color: white;
    cursor: pointer;
}

.sales_buy:hover{
    background: rgb(77, 124, 77);
}

.wrapper_divs_details p{
    margin-top: 10px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 20px;
    
}

.likes_sales{
    width: 200px;
    height: 25px;
    position: absolute;
    padding: 5px 5px 0 20px;
    color:white;
    bottom: 0;
    right: 0;
    border-top-left-radius: 20px;
    background: rgb(66, 71, 66);
    display: inline;
    overflow: hidden;
    text-align: center;
}

.likes_sales p{
    float: left;
    padding:0 10px;
    background: black;
    border-radius: 10px;
    cursor: pointer;
}

.likes_sale_span{
    background: rgb(163, 211, 33);
    padding: 1px;
    margin-left: 10px;
    border-radius: 10px;
    color: rgb(53, 7, 7);
}





.fa-heart{
    padding:1px 2px;
    border-radius: 10px;
    background: rgb(253, 5, 5);
    margin-left: 6px;
    cursor: pointer;
    color: white;
}

.fa-thumbs-up{
    padding:1px 2px;
    border-radius: 10px;
    background: rgb(212, 4, 119);
    margin-left: 6px;
    cursor: pointer;
    color: white;
}


@media screen and (max-width:425px){
    .wrapper{
        width: 100%;
    }
    .wrapper_divs_details p{
        font-size: 11.5px;
    }

    .wrapper-divs{
        height: 160px;
        
    }

    .wrapper_divs_details{
        height: 80px;
    }

    .wrapper_divs_img{
        height: 150px;
    }
    .likes_sales p{
        font-size: 13px;
        margin-top: 5px;
    }
    .likes_sales i{
        font-size: 13px;
        margin-top: 5px;
    }
}

/* wrapper */
